//COLLAPSE
.collapse-about__container {
  margin: auto;
  width: 80%;
  .collapse__item {
    border-radius: 5px;
    margin-bottom: 31px;
    &__header {
      height: 47px;
    }
  }
}
@media (max-width: 769px) {
  .collapse-about__container {
    margin: auto;
    width: 100%;
    .collapse__item {
      margin-bottom: 20px;
      &__header {
        height: 30px;
      }
    }
  }
}
//BANNER
.banner-about {
  background-image: url("../../images/banner-about-xl.png");
}

@media (max-width: 769px) {
  .banner-about {
    background-image: url("../../images/banner-about-small.png");
  }
}
