//COLLAPSE
.collapse {
  &__item__header {
    height: 52px;
    color: #fff;
    background: #ff6060;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    span {
      font-size: 1.8rem;
    }
  }

  &-content {
    max-height: 0;
    color: white;
    overflow: hidden;
    transition: max-height 0.1s cubic-bezier(00, 1, 0, 1);

    &__show {
      height: 80%;
      background: #f6f6f6;
      padding: 20px;
      transition: max-height 0.1s ease-in-out;
      color: #ff6060;
    }
  }
}

.chevron {
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .collapse__item__header {
    font-size: 0.9em;
  }
}
