.error {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  &__404 {
    font-weight: 700;
    font-size: 18rem;
    color: #ff6060;
  }
  &__oups {
    color: #ff6060;
    font-size: 2em;
    margin-bottom: 15vh;
  }

  &__home {
    padding-bottom: 40vh;
    font-size: 1rem;
    color: #ff6060;
    cursor: pointer;
    text-decoration: underline;
  }
}
