//CARROUSEL
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border-radius: 25px;
  position: relative;

  &__img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    transform-origin: left 50%;
  }
  &__chevron {
    height: 80px;
    fill: white;
    cursor: pointer;
    position: absolute;
  }
  &__count {
    color: white;
    position: absolute;
    bottom: 10px;
  }
  .hidden {
    display: none;
  }
  span:focus {
    background-color: transparent;
  }
}
.left {
  left: 3%;
  top: 40%;
}

.right {
  right: 3%;
  top: 40%;
}

@media (max-width: 769px) {
  .carousel {
    &__img {
      height: 255px;
    }
    &__chevron {
      height: 50px;
      fill: white;
    }
  }
  .left {
    top: 38%;
    left: 2%;
  }

  .right {
    top: 38%;
    right: 2%;
  }
}
