//CARROUSEL
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border-radius: 25px;
  position: relative;

  &__img {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    transform-origin: left 50%;
  }
  &__chevron {
    font-size: 10em;
    color: white;
    cursor: pointer;
    position: absolute;
  }
  &__count {
    color: white;
    position: absolute;
    bottom: 10px;
  }
  .hidden {
    display: none;
  }
  span:focus {
    background-color: transparent;
  }
}
.left {
  left: -3%;
  top: 30%;
}

.right {
  right: -3%;
  top: 30%;
}

@media (max-width: 769px) {
  .carousel {
    &__img {
      height: 255px;
    }
    &__chevron {
      font-size: 4em;
    }
  }
  .left {
    top: 38%;
  }

  .right {
    top: 38%;
  }
}
