.footer {
  margin-top: 2em;
  padding: 2em;
  height: 20%;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    img {
      width: 15em;
    }
  }
  p {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
  }
}

// MEDIA QUERIES
@media (max-width: 769px) {
  .footer {
    &__logo {
      img {
        width: 9em;
      }
    }
    p {
      font-size: 0.8em;
    }
  }
}
